.btn-btn-save {

    margin-top: 16px;
    color: #fff;
    width: 100%;
    line-height: 14px !important;
    font-weight: 600 !important;
    font-size: 18px;
    outline: none !important;
    // background-image: linear-gradient(90deg, #ff385c, #ef305c, #e93568, #ce235b, #ce2d63);
    border: none;
    padding: 20px;
    overflow: hidden !important;
    border-radius: 8px !important;
    transition: all .4s ease-in-out;
    outline: none;

    background-size: 300% 100%;
    background-image: linear-gradient(90deg, #ff385c, #ef305c, #e93568, #ce235b, #ce2d63);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);

    h2 {
        margin: 0;
    }

}

.btn-btn-save:hover {
    cursor: pointer;
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.trip-form {
    display: block;
    margin-top: 0em;

    p {
        padding-bottom: 5px;
        margin-top: 5px;
    }
}

.makeStyles-paper-1 {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    left: 50% !important;
}

.css-dpqzir-MuiPaper-root-MuiAlert-root {
    background-color: white !important;
}

.makeStyles-paper-13 {
    border: none !important;
    padding: 0 !important;
}

// @media (max-width: 480px) { 
//     .trip-form {
//         .guests-btn {
//             display: none !important;
//         }
//     }
// }