// .carousel {
//     align-items: center;
//     display: flex;
//     margin: 2rem auto;
//     overflow: hidden;
//     position: relative;
//     width: 300px;


//     &__imgs {
//         display: flex;
//         transform: translateX(0);
//         transition: transform 0.25s;

//         img {
//             border-radius: 5px;
//         }
//     }
// }

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;

    &:hover {
        svg {
            opacity: 0.25;

        }
    }

    .imgs {
        display: flex;
        transform: translateX(0);
        transition: transform 0.25s;

        img {
            object-fit: cover;
            width: 313px;
            border-radius: 10px;
        }
    }



    .arrows {
        display: flex;
        justify-content: space-between;

        &>*:not(:first-child) {

            margin-left: 0px;
        }

        svg {
            width: 25px;
            height: 25px;
            background-color: white;
            color: black;
            border-radius: 50%;
            opacity: 0;
            position: absolute;
            transition: opacity 0.25s;
            z-index: 10;
            cursor: pointer;
            user-select: none;

            &:hover {
                opacity: 0.5;
            }
        }

        .right-arrow {
            //  padding-right: 10px;
            position: absolute;
            right: 0;
            margin-right: 10px;

        }

        .left-arrow {
            margin-right: 0px;
            margin-left: 10px;
        }
    }



    .slide {
        opacity: 0;
        transition-duration: 2s ease-in-out;
    }

    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        // transform: translateX(300);
        // transform: scale(1.08);
    }

    .indicators {
        display: flex;
        z-index: 10;
        position: absolute;
        margin-top: 160px;
        transition: opacity 0.25s;
        cursor: pointer;
        user-select: none;

        :not(:first-child) {
            margin-left: 7px;
        }


        .dot {
            opacity: 0.5;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: white;

            &:hover {
                opacity: 0.75;
            }
        }

        .dot.active {
            opacity: 1;
        }

    }
}

@media (max-width: 480px) {

    .stay-list {

        .stay-preview {
            // display: none;
            align-items: center;

            .preview-content {
                padding-left: 10px;
            }


            .slider {



                .arrows {
                    display: flex;
                    justify-content: space-between;

                    &>*:not(:first-child) {

                        margin-left: 0px;
                    }

                    .right-arrow {
                        //  padding-right: 10px;
                        position: absolute;
                        right: 0;
                        margin-right: 10px;

                    }

                    .left-arrow {
                        margin-right: 0px;
                        margin-left: 10px;
                    }
                }

                .imgs {
                    // display: flex;
                    // transform: translateX(0);
                    // transition: transform 0.25s;

                    img {
                        // object-fit: cover;
                        width: 100vw;
                        height: 250px;
                        border-radius: 0px !important;
                    }
                }

                .indicators {
                    margin-top: 0px;
                    position: absolute;
                    bottom: 10px;
                }
            }
        }
    }
}