.loading-spinner {
    width: 5rem;
    height: 5rem;
    border: 3px solid silver;
    border-radius: 50%;
    border-top-color: slateblue;
    animation: spinner 0.6s linear infinite;
    margin: 50% auto;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}