*,
*:before,
*:after {

    box-sizing: border-box;
}

._1keztfl {
    margin: 0px auto;
    max-width: 850px;
}

._1sx4f1vv {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 32px;
    color: rgb(34, 34, 34);
    display: flex;
    height: 66px;
    position: relative;
    width: 100%;
    box-shadow: rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px;
    --big-search-form-background: #FFFFFF;
    background-color: rgb(255, 255, 255);
}

._1c7nvmy {
    display: flex;
    flex: 1 1 0%;
    height: 100%;
    min-width: 0px;
    pointer-events: auto;
}

._1jkbosm7 {
    flex: 1 0 0%;
    min-width: 0px;
}

._mnnz9u {
    -webkit-box-align: center;
    position: relative;
    align-items: center;
    display: flex;
    flex: 1 0 0%;
    margin: -1px;
    min-width: 0px;
}

._koumzdh {
    cursor: pointer;
    display: block;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 32px;
    flex: 1 0 0%;
    min-width: 0px;
    padding: 14px 32px;
}

._gor68n {
    position: relative;
    z-index: 1;
}

._1i9tpqw {
    font-weight: 800;
    letter-spacing: 0.04em;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 2px;
}

._1xq16jy {
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #717171 !important;
    text-overflow: ellipsis;
    font-family: inherit;
    outline: none;

    // ._1xq16jy:focus-within {
    //     border: none ;
    // }
    input {
        color: #717171 !important;

    }
}

._koumzdh:hover::after {
    background-color: #EBEBEB;
}

._koumzdh::after {

    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 32px;
    content: "";
    inset: 0px;
    position: absolute;
    z-index: 0;
}


._krjbj {
    border: 0px;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

._43mycv {
    align-self: center;
    border-right: 1px solid #DDDDDD;
    -webkit-flex: 0 0 0px;
    -ms-flex: 0 0 0px;
    flex: 0 0 0px;
    height: 32px;
}

._1l6jpwo {
    display: flex;
    -webkit-flex: 2 0 0%;
    -ms-flex: 2 0 0%;
    flex: 2 0 0%;
    min-width: 0px;
}

._j8gg2a {
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin: -1px;
    min-width: 0px;
    position: relative;
}

._j8gg2a2 {
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin: -1px;
    min-width: 0px;
    position: relative;
}

._1akb2mdw {
    appearance: none;
    background: transparent;
    border: 0px;
    color: inherit;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0px;
    outline: none;
    overflow: visible;
    padding: 1px;
    text-align: left;
    text-decoration: none;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    width: 0px;
    z-index: 1;
}

._seuyf {
    padding: 14px 24px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 1;

    .guests-modal {
        position: fixed;
        margin-top: 20px;
        border-radius: 10px;
        background-color: white;
        box-shadow: rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px;

    }
}

._wtz1co {
    font-size: 12px;
    line-height: 16px;
    font-weight: 800;
    letter-spacing: 0.04em;
    padding-bottom: 2px;
}

._uh2dzp {
    font-size: 14px;
    line-height: 18px;
    color: #717171;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

._1akb2mdw::after {
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 32px;
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
}

._1akb2mdw:hover::after {
    background-color: #EBEBEB;
}

._1yulsurh {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: -1px;
    min-width: 0px;
    position: relative;
    -webkit-flex: 0.95 0 auto;
    -ms-flex: 0.95 0 auto;
    flex: 0.95 0 auto;
}

._37ivfdq {
    appearance: none;
    background: transparent;
    border: 0px;
    color: inherit;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0px;
    outline: none;
    overflow: visible;
    padding: 1px;
    text-align: left;
    text-decoration: none;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    width: 0px;
    z-index: 1;
}

._37ivfdq::after {
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 32px;
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
}

._37ivfdq:hover::after {
    background-color: #EBEBEB;
}

._w64aej {
    flex: 0 0 auto;
    margin-left: -6px;
    padding-right: 9px;
    position: relative;
    z-index: 5;
}

._sxfp92z {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin: 0px;
    outline: none;
    overflow: hidden;
    padding: 0px;
    text-align: inherit;
    text-decoration: none;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    background-color: #FF385C;
    border-radius: 24px;
    height: 48px;
    max-width: 48px;
    position: relative;
    -webkit-transition: 0.2s max-width cubic-bezier(0.35, 0, 0.65, 1);
    -moz-transition: 0.2s max-width cubic-bezier(0.35, 0, 0.65, 1);
    transition: 0.2s max-width cubic-bezier(0.35, 0, 0.65, 1);
    vertical-align: middle;
    z-index: 0;
}

._sxfp92z {
    background-color: var(--header-brand-color, #FF385C);
}

._sxfp92z::before {
    background: -webkit-linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    background: -moz-linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    -webkit-transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1);
    -moz-transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1);
    transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1);
    will-change: opacity;
    z-index: 0;
    opacity: 0;
}

._1hb5o3s {
    display: inline-flex;
    padding: 16px;
    position: relative;
    z-index: 1;
}


._svg-search {

    display: block;
    fill: none;
    height: 16px;
    width: 16px;
    stroke: currentcolor;
    stroke-width: 4;
    overflow: visible;
}

._c5qlo1f {
    opacity: 0;
    padding-left: 8px;
    padding-right: 4px;
    -webkit-transition: 0.1s opacity cubic-bezier(0.35, 0, 0.65, 1);
    -moz-transition: 0.1s opacity cubic-bezier(0.35, 0, 0.65, 1);
    transition: 0.1s opacity cubic-bezier(0.35, 0, 0.65, 1);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.main-search-bar {
    margin-top: 15px;

}
.hidden3 {
    display: none;
}
.hidden {
    visibility: hidden;
    transition: all 0.2s;

    transform: translateY(-100%)
}

.scroll-shift {
    transform-origin: 50% 0 !important;
    transform: scale(.42, .69) translateY(-58px) !important;
    transition: transform .25s ease, opacity 50ms ease 20ms, visibility 0ms .15s !important;
}


@media (max-width: 480px) {

    .main-search-bar {
        display: none;
    }

    .hidden {
        display: none;

    }
}


// .filtter-screen {
// border: 1px solid rgb(221, 221, 221) ;
// border-radius: 32px ;
// color: rgb(34, 34, 34) ;
// display: flex ;
// height: 66px ;
// position: relative ;
// width: 100% ;
// box-shadow: rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px ;
// --big-search-form-background: #FFFFFF ;
// background-color: rgb(255, 255, 255) ;
// }
// .fill-paren {
//     width: 100%;
//     height: 100%;
// }
// .house-filter-container {
//     display: flex;
//     justify-content: space-between;
//     cursor: pointer;
//     border: 1px solid #dadada;
//     box-shadow: 0 1px 2px rgb(0 0 0 / 18%);
//     transition: .3s ease-in-out;
//     z-index: 100;
//     position: absolute;
//     left: 0;
//     right: 0;
//     background-color: snow;
//     border-radius: 200px;
//     // max-width: 90vw;
//     // top: 70px;
//     // height: 56px;
//     margin-right: auto;
//     margin-left: auto;


//         justify-content: center;
//         flex-direction: column;
//         display: flex;
//         padding: 0 0 0 1rem;
//         color: #1e1e1e;
//         font-size: .9rem;
//         font-weight: 700;
//         background-color: snow;
//         position: absolute;
//         z-index: 101;
//         border-radius: 200px;
//         line-height: 49px;
//     }


// }

// @media (min-width: 700px) {

//     .house-filter-container {
//         max-width: 800px;
//         top: 150px;
//         height: 70px;
//     }
// }

// .header-fillter {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: #fff;
//     height: 8vh;

//     .search-container-1 {
//         display: flex;
//         flex: 1;
//         flex-direction: column;
//         align-items: flex-start;
//         width: 10vw;
//         justify-content: flex-start;
//         max-width: fit-content;
//         padding: 10px;
//         // height: 30px;
//         // border: 1px solid lightgray;
//         border-radius: 999px;

//         label {
//             font-weight: bold;
//             color: black;
//             font-size: 13px;
//         }

//         input {
//             border: none;
//             color: #ff385c;
//             max-width: 12vw;

//             &:focus-visible {
//                 outline: none;
//             }
//         }
//     }

//     .date-fillter {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         padding-inline-end: 20px;
//         font-size: 13.3333px;
//         border: none;
//     }

//     svg {
//         border-radius: 50%;
//         background-color: #ff385c;
//         color: white;
//         padding: 7px;
//         margin: -4px;
//         width: 40px;
//         height: 40px;
//     }
// }