.add-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;


    * {
        border-radius: 5px;
        font-size: 1rem;
        color: $clr2;
    }

    input {
        padding: 10px;
        margin-bottom: 1.5rem;
        border: 0;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);

    }

    input[type=text] {
        width: 70%;
    }

    .primary-details {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    input[type=number] {
        width: 10em;
    }

    select {
        padding: 10px;
        margin-bottom: 1.5rem;
        border: 0;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        width: 15em;
    }

    .amenities {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 200px;
        margin-top: 10px;

    }

    input[type=checkbox] {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }

    textarea {
        resize: none;
        padding: 10px;
        margin-bottom: 1.5rem;
        border: none;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        width: 100%;
        height: 7em;
        font-family: circular-light;
    }

    .form-controlls {
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        button {
            width: 10em;
        }

        a {
            align-self: flex-end;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }

    .upload-grid {

        margin-top: 10px;
        width: 100%;
        // height: 100%;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 165px 165px;
        gap: 8px;
        margin-bottom: 20px;
        padding: 0;

        .upload-preview {
            grid-column: 1/span 2;
            grid-row: 1/span 2;
            // border-top-left-radius: 15px;
            // border-bottom-left-radius: 15px;
            border-radius: 10px;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;

        }

    }




    // .upload-preview {
    //     // @include aspect-ratio(1, 1);
    //     width: 150px;
    //     height: 150px;
    //     object-fit: contain; 
    //     // object-position: center center;
    //     background-size: 100% 100%;
    //     // background: no-repeat center;
    //     img {
    //         height: 100%;
    //         object-fit: cover;

    //     }
    // }

}

@media (max-width: 1025px) {
    .add-form {
        height: 59vh;
    }
}

@media (max-width: 480px) {
    .add-form {
        height: 100%;
        padding-right: 10px;
        padding-left: 10px;

        .primary-details {
            flex-direction: column;
        }
    }
}