.stay-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // width: 100%;
    background-color: #fff;
    color: $clr1;
    border-radius: 5px;
    transition: 0.3s;

    img {
        max-height: 180px;
        border-radius: 10px;
    }
    .reviews-stats {
        margin-top: 5px;
        align-items: baseline;
    }

    .preview-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 1.6;
        padding: 0px;
        margin: 0%;
        align-items: flex-start;
        width: 100%;

        // &>* {
        //     padding-top: 5px;
        // }

        .grey {
            color: $clr2;
        }
        .name {
            text-transform: capitalize;
            font-weight: 500;
        }
        .price {
            font-family: circular-medium;
            font-weight: 500;
        }
        
    }
}
.btn-remove {
    position: relative;
    background-color: red;
    border-radius: 10px;
    border: none;
    z-index: 1;
}

