@media (max-width: 1024px) {

    .home {

        .main-header { 
            .header-expends {
                .search-container {
                    border: none;
                    .navbar-search-btn {
                        display: none;
                    }
                }
            }
        }

        .top-rated {

            width: 98vw;  
            .stay-preview .slider .imgs .slide img {
                width: 30vw;
                height: 160px;
                
            }
            
        } 
        .hero .hero-txt {

            margin-top: 25rem;


        }

        .popular-destinations {
            width: 98vw;
            padding-right: 10px;
        }
        
        .explore-banner {
            margin-right: 10px;
            width: 96vw;

            button {
                margin-right: 3rem;
            }

        }
    }
}

@media (max-width: 480px) {

    .home {

        h1 {
            align-self: center;
            font-size: 30px;
            align-self: flex-start;
        }

        .main-header {
            &.no-bcg {

                width: 100vw;
                margin-top: 20px
            }

            &.active {

                width: 100vw;

            }

            .header-expends {

                // width: 100vw;

                .header-nav>*:not(:last-child) {
                    margin-inline-end: 0px;
                }

                .header-nav {
                    font-size: 15px;
                }

                .hidden2 {
                    display: none;
                }

                .nav-container {
                    .header-nav {
                        .host {
                            display: block;
                        }
                    }
                }

                // .search-container {

                // }
                .main-search-bar {
                    display: block;
                    margin-top: 0px;
                    margin-right: 10px;
                    margin-left: 10px;

                    ._1l6jpwo {
                        display: none;
                    }

                    ._37ivfdq {
                        display: none;
                    }

                    ._1yulsurh {
                        flex: 0 0 auto;
                    }
                }

            }
        }

        .hero {
            // width: 100vw;
            justify-content: flex-end;

            .hero-txt {
                font-size: 3rem;
                width: 90%;
                margin-bottom: 20px;
                margin-left: 10px;
            }
        }

        .home-places {

            h1 {

                font-size: 30px;
                align-self: flex-start;
                margin-left: 10px;
            }

            .popular-destinations {

                display: flex;
                flex-direction: column;
                align-items: center;

                padding-left: 10px;
                padding-right: 10px;
                gap: 2rem;


                img {
                    width: 95vw;
                    // height: 300px;
                    border-radius: 0px !important;
                    padding-bottom: 10px;
                }
            }

            .top-rated {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                padding-left: 10px;
                padding-right: 10px;

                .stay-preview {
                    
                    .slider {
                        .imgs {
                            .slide img {
                                width: 95vw;
                                height: 100%;
                                border-radius: 0px !important;
                                // margin-bottom: 10px;

                            }
                        }
                    }
                }


            }

            .explore-banner {
                flex-direction: column;
                height: 50vh;
                margin-left: 10px;
                margin-right: 10px;
                align-items: center;

                p {
                    width: 80%;
                    font-size: 2rem;
                }


                button {
                    object-fit: contain;
                    // width: 100px;
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

