.host-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;

}

.stay-details {
    padding-top: 20px;

    h1 {
        font-family: Circular-medium;
        font-size: 1.625rem;
        line-height: 30px;
        display: block;
        color: #1e1e1e;
    }
}

.details-stay-name {
    font-family: Circular-medium;
    font-size: 1.625rem;
    line-height: 30px;
    display: block;
    color: #1e1e1e;



}

.details-stay-info {
    display: flex;
    align-items: flex-start;
    margin-left: 0;
    margin-top: 0.7rem;
    // line-height: 20px;


}

.details-stay-location {
    text-decoration: underline;
    color: #6b6a6a;
    margin-left: 20px;
}

.phone-stay-imgs {
    display: none;
}

.details-stay-imgs {

    margin-top: 10px;
    width: 100%;
    // height: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 175px 175px;
    gap: 8px;
    margin-bottom: 10px;
    padding: 0;
}

.details-stay-imgs :first-child {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.details-stay-imgs :nth-child(3) {
    border-top-right-radius: 15px;
}

.details-stay-imgs :nth-child(5) {
    border-bottom-right-radius: 15px;
}

.stay-img {
    object-fit: cover;
    height: 100%;
    border-radius: 0
}

.booking-modal-container {
    justify-content: space-between;
    padding-top: 30px;

    // height: 1000px;
}

.booking-details-container {
    width: 75%;
    padding-right: 75px;
    border-bottom: 1px solid #d3d3d3;

}

.order-container {
    object-fit: contain;
    flex-direction: column;
    width: 33%;
    position: sticky;
    top: 200px;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 6px 16px rgb(0 0 0 / 12%);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid #ddd;

    .order-top {
        justify-content: space-between;
        margin-bottom: 10px;

        .price {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .price-num {
                color: #222222;
                font-weight: 600;
                font-size: 22px;
                padding-right: 4px !important;

            }
        }

    }
}

.top-details {


    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    // margin-bottom: 20px;



    img {
        margin-right: 20px;
    }


}

.summary {
    border-bottom: 1px solid #ddd;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;

    .sum-span {
        line-height: 1.3;
    }

}

.slep-arr-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    border-bottom: 1px solid #ddd;


    .slep-arr {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 12px;
        height: 100%;
        padding: 24px;
        // width: 100%;

        .arr-icon {
            height: 24px;
            width: 24px;
            color: black;
        }

        .arr-icon2 {
            color: black;
            font-weight: 600;
        }


    }
}

.amen-container {

    h1 {
        font-family: Circular-medium;
        font-size: 1.625rem;
        line-height: 30px;
        display: block;
        color: #1e1e1e;
    }

    .amen-title {

        padding-top: 30px;
        padding-bottom: 30px;
    }

    .amenities {


        padding-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 50px;
        color: #222222;

        li span {
            padding-left: 10px;

        }


    }
}

.reviews-rate {

    margin-bottom: 20px;

    .rev-layout {


        margin-bottom: 20px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        color: #222222;

        .rev-stats {

            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .rev-subj {
                width: 33%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .meter-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                // justify-content: space-around;
                margin-left: 12px;
                width: 66%;

                .meter1 {
                    background-color: rgb(26, 25, 25);
                    padding: 0.01em 16px;
                    border-radius: 16px;
                    width: 95%;
                    height: 5px;
                }

                .meter-bcg1 {
                    background-color: rgba(26, 25, 25, 0.233);
                    border-radius: 16px;
                    width: 45%;
                    height: 5px;

                }

                .meter2 {
                    background-color: rgb(26, 25, 25);
                    padding: 0.01em 16px;
                    border-radius: 16px;
                    width: 90%;
                    height: 5px;
                }

                .meter-bcg2 {
                    background-color: rgba(26, 25, 25, 0.233);
                    border-radius: 16px;
                    width: 45%;
                    height: 5px;

                }

                .meter3 {
                    background-color: rgb(26, 25, 25);
                    padding: 0.01em 16px;
                    border-radius: 16px;
                    width: 85%;
                    height: 5px;
                }

                .meter-bcg3 {
                    background-color: rgba(26, 25, 25, 0.233);
                    border-radius: 16px;
                    width: 45%;
                    height: 5px;

                }




                .meter-rate {
                    font-size: 12px;
                    margin-left: 10px;

                }
            }
        }
    }

}

.map-container {
    padding-top: 30px;
}

.krapppp {
    // grid-column: 1 / -1;
    .main-layout {
        
        display: flex;
    }

    .main-header {
        z-index: 50;
        height: 80px;
        // background-color: #fff;
        position: static;
        top: 0;
        width: 100%;
        // box-shadow: 0 10px 10px -10px rgb(33 35 38 / 10%);

        &.active {
            grid-column: 1 / -1;
            
        }

        // &.hidden {
        //     visibility: hidden;
        //     transition: all 0.2s;
        //     transform: translateY(-100%)
        // }

        &.no-bcg {
            background-color: transparent;
            


        }

        .header-expends {
            flex-direction: column;
            width: 100%;

            &>*:not(:first-child) {
            // :last-child {
                display: none;
            }

            .nav-container {
                z-index: 50;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            // .main-search-bar {
            //     display: none;
            // }

            // h1 {
            //     margin: 0;
            // }

            .logo-container {
                .logo {
                    width: 35px;
                    height: 35px;
                }

                a {
                    // object-fit: contain;
                    margin-top: 15px;
                    color: #ff385c;
                    display: flex;
                    align-items: center;

                    span {
                        height: 35px;
                    }
                }
            }

            // p {
            //     max-width: 44ch;
            //     margin: 0 0 1em;
            // }
            .hidden2 {
                visibility: visible;
                display: flex;
                flex: 1;
                align-items: center;
                width: 10vw;
                justify-content: flex-end;
                max-width: fit-content;
                padding: 10px;
                // height: 30px;
                border: 1px solid lightgray;
                border-radius: 999px;
                cursor: pointer;

                
                .navbar-search-btn {
                    border: none;
                    outline: none;
                    pointer-events: none;
                    padding-left: 18px;
                    width: 300px;
                    font-size: 18px;
                    // ._1xq16jy:focus-within {
                    //     border: none ;
                    // }

                    input {
                        color: #717171 !important;

                    }

                }

                span {
                    cursor: pointer;
                    border: none;
                    // color: #ff385c;
                    max-width: 12vw;

                    &:focus-visible {
                        outline: none;
                    }
                }

                svg {
                    border-radius: 50%;
                    background-color: #ff385c;
                    color: white;
                    padding: 7px;
                    margin: -4px;
                    width: 40px;
                    height: 40px;
                }
                
            }

            // .search-container {
            //     display: block!important;

            // }

            .search-container {
                display: flex;
                flex: 1;
                align-items: center;
                width: 10vw;
                justify-content: flex-end;
                max-width: fit-content;
                padding: 10px;
                // height: 30px;
                border: 1px solid lightgray;
                border-radius: 999px;
                cursor: pointer;

                .navbar-search-btn {
                    border: none;
                    outline: none;
                    pointer-events: none;
                    padding-left: 18px;
                    width: 300px;
                    font-size: 18px;
                    // ._1xq16jy:focus-within {
                    //     border: none ;
                    // }

                    input {
                        color: #717171 !important;

                    }

                }

                span {
                    cursor: pointer;
                    border: none;
                    // color: #ff385c;
                    max-width: 12vw;

                    &:focus-visible {
                        outline: none;
                    }
                }

                svg {
                    border-radius: 50%;
                    background-color: #ff385c;
                    color: white;
                    padding: 7px;
                    margin: -4px;
                    width: 40px;
                    height: 40px;
                }
            }

            .header-nav {
                align-items: center;
                justify-content: space-between;

                &>*:not(:last-child) {
                    margin-inline-end: 10px;
                }

                .explore {

                    .wht {
                        // color: #f7f7f7,
                        color: black;
                        font-weight: 0;
                    }

                    .blk {
                        color: black;

                    }
                }

                .host {
                    .wht {
                        color: black;
                    }

                    .blk {
                        color: black;

                    }
                }

                span {
                    display: none;

                }

                a {
                    // color: white;
                    padding: 10px;
                    border-radius: 2rem;

                    // &:hover {
                    //     background-color: #f7f7f7;
                    // }

                    // &.active {
                    //     // background-color: #f7f7f7;
                    //     // border-bottom: 1px solid white;
                    // }
                }

                .avatar-icon {
                    border-radius: 2rem;
                    background-color: white;
                    padding: 2px 2px 2px 8px;
                    font-size: 0;
                    border: 1px solid #dddddd;

                    &:hover {
                        box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
                    }

                    svg {
                        padding-inline-end: 3px;
                        font-size: 30px;
                    }

                    img {
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                    }
                }

                .explor2 {
                    display: none;
                }
            }

            .header-fillter {
                align-items: center;
                justify-content: center;
            }
        }
    }
}