@media (max-width: 1024px) {

    .user-inbox {
        height: 60.5vh;
    }
    .profile-container {
        // grid-column: 1/ -1;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;


        .profile-nav {
            // margin-left: 10px;
            width: fit-content;
        }



        .profile-content {


            flex-direction: column;
            align-items: center;
            // margin-left: 10px;
            // margin-right: 10px;


            .user-card {
                width: 100%;
                position: static;
            }

            .stays-info {

                align-items: center;


                .host-chart {
                    width: 100vw;
                    padding-left: 10px;
                    padding-right: 10px;

                }

                .user-stays {

                    // margin-left: 10px;


                    .user-stay-preview {
                        justify-content: center;

                        .user-stay-header {

                            flex-direction: column;
                            margin-bottom: 20px;
                            align-items: center;
                            justify-content: center;
                            width: 100%;

                            p {
                                width: fit-content;

                            }

                            .medium {
                                font-family: circular-medium;
                            }
                        }

                        .user-stay-content {
                            max-height: none;
                            width: 100vw;
                            flex-direction: column;
                            align-items: center;
                            padding-left: 10px;
                            padding-right: 10px;

                            img {


                                width: 85%;

                            }


                            .table-container {
                                width: 100%;
                                height: 250px;


                            }
                        }

                    }

                }
            }
        }
    }

    .stays-info {
        display: flex; 
        flex-direction: column;

        .host-chart {

            canvas {
                // height: 250px !important;
                // width: 500px !important;
                margin-bottom: 40px;
                justify-self: center !important;
            }
        }
    }

}
@media (max-width: 480px) {

    .profile-container {
        padding-left: 10px;
        padding-right: 10px;


        .profile-nav {
            // margin-left: 10px;
            width: fit-content;
        }



        .profile-content {


            flex-direction: column;
            align-items: center;
            // margin-left: 10px;
            // margin-right: 10px;


            .user-card {
                width: 100%;
            }

            .stays-info {

                align-items: center;


                .host-chart {
                    width: 100vw;
                    padding-left: 10px;
                    padding-right: 10px;

                }

                .user-stays {

                    // margin-left: 10px;


                    .user-stay-preview {
                        justify-content: center;

                        .user-stay-header {

                            flex-direction: column;
                            margin-bottom: 20px;
                            align-items: center;
                            justify-content: center;
                            width: 100%;

                            p {
                                width: fit-content;

                            }

                            .medium {
                                font-family: circular-medium;
                            }
                        }

                        .user-stay-content {
                            max-height: none;
                            width: 100vw;
                            flex-direction: column;
                            align-items: center;
                            padding-left: 10px;
                            padding-right: 10px;

                            img {


                                width: 85%;

                            }


                            .table-container {
                                width: 100%;
                                height: 250px;


                            }
                        }

                    }

                }
            }
        }
    }

    .stays-info {
        display: flex; 
        flex-direction: column;

        .host-chart {

            canvas {
                // height: 250px !important;
                // width: 500px !important;
                margin-bottom: 40px;
                justify-self: center !important;
            }
        }
    }

}