.main-layout {
    display: grid;
    grid-template-columns:
        minmax(2rem, 1fr)
        minmax(auto, $normal-breakpoint)
        minmax(2rem, 1fr);

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    @include for-normal-layout {
        grid-template-columns:
            minmax(1rem, 1fr)
            minmax(auto, 980px)
            minmax(1rem, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(2rem, 1fr);
    }
}

@media (max-width: 480px) {

    .main-layout {
        display: flex;
        flex-direction: column;

    }
}

