// Colors
$clr1: #222222;
$clr2: #717171;
$clr3: #ff385c;
$clr4: #f5f5f5;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 480px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1300px;

// max-width: 1280px !important;
//     padding-left: 80px !important;
//     padding-right: 80px !important;